
.footer{
    a{
        font-size: 1.2rem;
    }
    @media only screen and (hover: hover) {
        a:hover{
            transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
}
    }
}