$main-dark-color: #090d1f;
$white: #fff;
$black: #1a1a1a;
$dark-border-color: #0000003d;
$light-border-color: #ffffff3d;
$tag-background-light: #eef4ff;
$tag-background-dark: #5f469926;
$tag-color: #3538cd;
$post-info-color: #6941c6;
$card-text-color-light: #667085;
$card-text-color-dark: #c0c5d0;
$new-badge-background:#0550ae;
$new-badge-pseudo-color:#023b82;
$hot-badge-background:#e02b38;
$hot-badge-pseudo-color:#e22b38;